{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Runway</title>
  <link rel="stylesheet" href="{% static 'css/Runway.css' %}" />
</head>
<body>
    <h1>Welcome To Runway</h1>
    <div class="set" id = "first">
        <section class="countdown-card">
            <p><span class="big-number">76</span> <span class="label">Days To Exam</span></p>
        </section>
    </div>
    <div class="set">
        <section class="countdown-card">
            <p><span class="big-number">92</span> <span class="label">Days Of Consistent Effort</span></p>
        </section>
    </div>
    <section class="calendar">
        <div class="week">
            <div class="bx complete"></div>
            <div class="bx halfway"></div>
            <div class="bx not-started"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
        </div>
        <div class="week">
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
        </div>
        <div class="week">
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
            <div class="bx"></div>
        </div>
        

    </section>

    

  
</body>
</html>
